<%= form_with(model: local_assigns[:model] || todo) do |form| %>
  <% if todo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-floating mb-3">
    <%= form.text_field :name, class: 'form-control', id: 'todo_name', placeholder: 'Enter todo name' %>
    <%= form.label :name, 'Nome', for: 'todo_name' %>
    <%= form.number_field :user_id, id: :todo_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="d-flex w-100 justify-content-center">
    <%= form.submit local_assigns[:button_text] || 'Submit', class: "btn btn-success" %>
  </div>
<% end %>
