<p style="color: green"><%= notice %></p>

<%= render @todo %>

<% @tasks.each do |task| %></p>

  <% if task.done == true %>
  <strike>
    <p><%= task.title %></p>
  </strike>
    <%= form_for task do |f| %>
        <%= f.check_box :done, :value => task.done %>
      <%= f.submit "Undo" %>
    <% end %>

  <% elsif task.done == false %>
    <p><%= task.title %></p>
    <%= form_for task do |f| %>
          <%= f.check_box :done, :value => task.done %>
        <%= f.submit "Done" %>
    <% end %>
  <% end %>
<% end %>

<%= form_for @task do |f| %>
  <p><%= f.text_field :title %></p>

  <%= f.hidden_field :done, :value => false %>
  <%= f.hidden_field :todo_id, :value => @todo.id %>

  <%= f.submit "Add Task" %>
<% end %>

<div>
  <%= link_to "Edit this todo", edit_todo_path(@todo) %> |
  <%= link_to "Back to todos", todos_path %>

  <%= button_to "Destroy this todo", @todo, method: :delete %>
</div>
