<p style="color: green"><%= notice %></p>

<%= render @todo %>

<% @tasks.each do |task| %></p>

  <p><%= task.title %>
    <%= form_for task do |f| %>
        <%= f.check_box :done, :value => task.done %>
      <%= f.submit "Done" %>
    <% end %>
<% end %>

<%= form_for @task do |f| %>
  <p><%= f.text_field :title %></p>

  <%= f.hidden_field :todo_id, :value => @todo.id %>

  <%= f.submit "Add Task" %>
<% end %>

<div>
  <%= link_to "Edit this todo", edit_todo_path(@todo) %> |
  <%= link_to "Back to todos", todos_path %>

  <%= button_to "Destroy this todo", @todo, method: :delete %>
</div>
